body{
    text-align: center;
    font-family: cursive;
    background-image: url("https://i.pinimg.com/736x/e0/5a/db/e05adb94d72ad2214836205728e741d4.jpg");
}

.line{
    width:80px;
    background-color: rgb(122, 224, 78);
height: 6px;
margin: 8px auto;
}


 
#myCarousel
{
    background-color: #f2bbd4;
}
 
#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}
 
.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
 
 

